<a href="https://colab.research.google.com/github/JUHYUNCHOI/Python-Data-Analysis-and-Image-Processing-Tutorial/blob/master/Upper%26Lower.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제

### **upper & lower**

```python
>>> 'Julia'.upper() # 모두 대문자로 만들어 주는 함수입니다.
JULIA
>>> 'Julia'.lower() # 모두 소문자로 만들어 주는 함수입니다.
julia
```

**사용 예시1**)

사용자로부터 입력받은 이름 중에 Julia가 있는지 확인하는 프로그램을 완성하고자 합니다.

사용자가 우리가 원하는대로 Julia로 입력을 할까요?

고객들은 각기 다른 방식으로 입력할 것입니다.

Julia, JULIA, julia 등등

그런데 아래 코드와 같이 구현한다면 JULIA, julia이름은 찾아지지 않을 것입니다.

```python
name_list = ['Julia', 'Girin', 'Jane', 'JULIA', 'julia']

for name in name_list:
    if name == 'Julia':
        print(f'{name}을 찾았음')

'''
결과:
Julia을 찾았음
'''
```

이를 방지하기 위해 upper() 또는 lower()을 사용 할 수 있습니다.

```python
name_list = ['Julia', 'Girin', 'Jane', 'JULIA', 'julia']

for name in name_list:
    if name.upper() == 'JULIA':
        print(f'{name}을 찾았음')

'''
Julia을 찾았음
JULIA을 찾았음
julia을 찾았음
'''
```

```python
name_list = ['Julia', 'Girin', 'Jane', 'JULIA', 'julia']

for name in name_list:
    if name.lower() == 'julia':
        print(f'{name}을 찾았음')

'''
Julia을 찾았음
JULIA을 찾았음
julia을 찾았음
'''
```

**사용 예시 2**)

기린 학교 학생들의 이름을 학교 사이트에 이쁘게 꾸미고 싶습니다. 그런데 학생들 이름이 대문자 소문자 각기 뒤죽박죽 정리되어 있습니다.

name_list = [’girin’, ‘julia’, ‘James’, ‘paul’, ‘Alex’, ‘Jamie’]

이름 그대로 사이트에 올리게 되면 너무 못생길 것 같아 첫 자는 대문자 나머지는 소문자로 바꾸고 싶습니다.

이럴 경우 upper(), lower()을 사용하면 좋습니다.

```python
name_list = ['girin', 'julia', 'James', 'paul', 'Alex', 'Jamie']

for name in name_list:
    print(f'{name[0].upper()}{name[1:].lower()}', end = '  ')
             --------------   ----------------
             첫번째는 대문자    나머지는 소문자
'''
결과:
Girin  Julia  James  Paul  Alex  Jamie

```

# 문제

1. 다음 코드의 결과는 무엇 일까요?

```python
>>> var = 'Julia'
>>> var.upper()
```

답)

2. 다음 코드의 결과는 무엇 일까요?

```python
>>> var = 'Julia'
>>> var.lower()
```

답)

3. 다음 학생들 중 julia가 몇 명인지 계산하는 프로그램을 만들려고 합니다. (ㄱ)에 들어갈 코드를 완성 하세요.

```python
name_list = ['julia', 'girin', 'haha', 'james', 'Julia']

count = 0
for name in name_list:
    if (ㄱ) == 'JULIA' :
         count += 1

print(count)
```

```python
결과:
2
```

답)

4. 다음과 같은 결과가 나오기 위해 (ㄱ)에 들어갈 코드를 완성 하세요.

```python
name_list = ['julia', 'girin', 'haha', 'james', 'Julia']

for name in name_list:
    print(ㄱ, end=' ')
```

```python
결과:
JULIA GIRIN HAHA JAMES JULIA
```

답)

5. 다음과 같은 결과가 나오기 위해 (ㄱ)에 들어갈 코드를 완성 하세요.

```python
name_list = ['julia', 'girin', 'haha', 'james', 'Julia']

for name in name_list:
    print(ㄱ, end=' ')
```

```python
결과:
Julia Girin Haha James Julia
```

답)