<a href="https://colab.research.google.com/github/JUHYUNCHOI/Python-Data-Analysis-and-Image-Processing-Tutorial/blob/master/%EC%8B%9C%ED%80%80%EC%8A%A4%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%852.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 다음 문자열에서 '다'을 출력하세요.

In [ ]:
a = '가나다라마바사'

2. 다음 리스트에서 6을 출력하세요.

In [ ]:
a = [1, 3, 4, 5, 6, 7, 8]

3. 다음 코드의 결과는 무엇인가요?   

```
a = '저의 이름은 기린입니다.'

print(a[5])  
```

4. 다음 코드의 결과는 무엇인가요?   

```
a = '저의 이름은 기린입니다.'

for i in range(2,5):
   print(a[i], end = '')
```

5. 다음과 같이 입력값을 거꾸로 출력하는 프로그램을 완성하세요.

   결과:   
   사바마라다나가

In [ ]:
a = '가나다라마바사'

6. 다음 리스트를 거꾸로 출력하는 프로그램을 완성하세요.   
   
   결과:   
   7 6 5 4 3 2 1

In [ ]:
a = [1,2,3,4,5,6,7]

7. 다음 리스트에서 2, 3, 4 출력하는 프로그램을 완성하세요.     

   결과:   
   2 3 4

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]

8. 다음 리스트에서 5, 4만 출력하는 프로그램을 완성하세요.

   결과:   
   5, 4

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]

9. 다음 문자열에서 '다라마'만 출력하세요.   

   결과:   
   다라마

In [ ]:
a = '가나다라마바사'

10. 다음 리스트에서 짝수 위치에 있는 숫자만 출력하세요.   

    결과:   
    3 5 7

In [ ]:
a = [2, 3, 4, 5, 6, 7, 8]